.website-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(246, 246, 246);
    max-width: 1000px;
    margin: 10px auto;
    border-radius: 8px;
}
.website-header .website-logo {
    height: 60px;
}
.right-header {
    display: flex;
    gap: 10px;
    align-items: center;
}
.right-header button {
    padding: 5px;
    margin-top: 0px;
    width: fit-content;
}